.root {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.urlFields {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 5px;
}

.fullList {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.search {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}
